:root {
    --MinutebotsColor: #bb4536;
    --borderRed: #a00000;
    --backgroundColor: #e2a3a32b;
    --secondaryBackground: #edbdbd;
    --disabledTopBorder: #a0535354;
    --disabledBottomBorder: #e6c1c1;
    --disabledBackground: #e7afaf77;
    --overlayColor: #00000080;
    --lightGrey: #00000010;
    --darkGrey: #00000020;
}

img {
    width: 30vw;
    max-width: 300px;
}

body:not(.modal, #generate-qrcode, .center) {
    margin: 3px;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    min-width: 500px;
}

h1 {
    margin-top: 0px;
    margin-bottom: -15px;
    font-family: Arial, sans-serif;
}

h2, label, th, p {
    font-family: Arial, sans-serif;
    margin: 2px;
}

h1, h2, label, th {
    color: var(--MinutebotsColor);
}

hr {
    width: 100vw;
    border-color: var(--borderRed);
}

th {
    text-align: right;
    white-space: nowrap;
}

.modal-content {
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 50px;
    right: 50px;
    padding: 0px;
    margin: 0px
}

/* .modal {
    padding: 0px;
    margin: 0px;
} */

.exclude {
    border-radius: 4px;
    border-width: 2px;
    background-color: var(--backgroundColor);
    font-weight: bold;
    border-color: black;
    cursor: pointer;  
    margin-left: 10px;
}

input, button:not(.collapsible, .exclude), textarea, select:not(.exclude) {
    border-radius: 7px;
    border-width: 2px;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: var(--borderRed);
    border-right-color: var(--borderRed);
    background-color: var(--backgroundColor);
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.number, b {
    width: 4em;
    height: 32px;
    margin: 2px;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    color: black;
}

textarea {
    width: 24em;
    max-width: 42em;
    min-width: 18em;
    height: 32px;
    max-height: 32px;
    min-height: 16px;
    margin: 2px;
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: black;
}

input[type="checkbox"] {
    transform: scale(1.35);
}

input[type="checkbox"]:disabled {
    border-color: var(--borderRed);
    background-color: var(--disabledBackground);
}

input[type="text"]:disabled {
    border-width: 2px;
    border-top-color: var(--disabledTopBorder);
    border-left-color: var(--disabledTopBorder);
    border-bottom-color: var(--disabledBottomBorder);
    border-right-color: var(--disabledBottomBorder);
    background-color: var(--disabledBackground);
}

select:not(#comp, #round, #teams, #tourn-level, #team-default, #share-as, #qrcode-comp, .exclude, #qrcode-round, #qrcode-team) {
    width: 7em;
    font-size: 16px;
}

#generate-qrcode {
    margin: auto;
    font-size: 3em;
    display: block;
}

.center {
    margin: auto;
    display: block;
}

#comp, #tourn-level, #team-default, #round, #teams, select:not(.exclude), #share-as, #qrcode-comp, #qrcode-round, #qrcode-team {
    width: auto;
    font-size: 16px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#scanner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlayColor);
    justify-content: center;
    align-items: center;
}

/* button {
    height: 24px;
} */

#cameraStream {
    width: 80%;
    max-width: 600px;
    height: auto;
    border: 2px solid white;
    border-radius: 8px;
}

#close-scanner {
    height: 60px;
    font-size: larger;
    background-color: var(--secondaryBackground);
}

/* #qrcode-div { */
    /* display: none; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: var(--overlayColor); */
    /* justify-content: center; */
    /* align-items: center; */
/* } */

/* #close-qrcode {
    height: 60px;
    font-size: larger;
    background-color: var(--secondaryBackground);
} */

.score {
    margin-bottom: 6px;
    margin-left: 15px;
    text-align: left;
}

.score label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.score:not(.indented) label {
    width: 150px;
}

.score input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 0px;
}

.score input[type="text"] {
    width: 160px;
}

.indented label {
    margin-left: 45px;
    width: 1330;
}

.double-indented {
    margin-left: 80px;
}

.collapsible:after {
    content: '\02795';
    font-size: 25px;
    color: var(--MinutebotsColor);
    float: right;
}

.active:after {
    content: "\2796";
}

.collapsible {
    background-color: var(--lightGrey);
    color: var(--MinutebotsColor);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}

.collapsible.active {
    margin-bottom: 0px;
    display: block;
}

.collapsible:not(.active) {
    margin-bottom: 15px;
}

.collapsible:hover {
    background-color: var(--darkGrey);
}

.section {
    margin-top: -3px;
    background-color: var(--lightGrey);
    margin-bottom: 15px;
    display: none;
    float: left;
    min-width: 100vw;
    padding: 18px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
	display: block;
	position: fixed;
    z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
    font-size:30pt;
    color: white;
    font-weight: bolder;
	height: 100%;
	overflow: auto;
	background-color: #0008;
	padding-top: 60px;
}

.incr {
    height: 50px;
    width: 50px;
    margin: 3px;
    font-size: 20px;
    border-radius: 30px;
    border-width: 0 !important;
    background-color: #bbbbbb !important;
    text-align: center;
    touch-action: manipulation;
}

.modal {
	text-align: center;
	display: none;
	position: fixed;
    z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #0006;
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	/* margin: 5% auto; */
	/* padding: 20px; */
	border: 1px solid #888;
	/* width: 80%; */
}

.close-modal {
	color: #aaa;
	float: right;
	font-size: 60px;
	font-weight: bold;
}

.close-modal:hover, .close-modal:focus {
	color: #333;
	cursor: pointer;
}

.share-as-button {
	font-weight: bold;
	color: #777;
}

.share-as-button:hover, .share-as-button:focus {
	color: #444;
	cursor: pointer;
}
