:root {
    --MinutebotsColor: #bb4536;
    --borderRed: #a00000;
    --backgroundColor: #e2a3a32b;
    --secondaryBackground: #edbdbd;
    --disabledTopBorder: #a0535354;
    --disabledBottomBorder: #e6c1c1;
    --disabledBackground: #e7afaf77;
    --overlayColor: #00000080;
    --lightGrey: #00000010;
    --darkGrey: #00000020;
}

body {
    margin: 2px;
    cursor: default;
}

h1, h2, label, th {
    font-family: Arial, sans-serif;
    color: var(--MinutebotsColor);
    margin: 2px;
}

hr {
    width: 100vw;
    border-color: var(--borderRed);
}

th {
    text-align: right;
    white-space: nowrap;
}

input, button:not(.collapsible), textarea, select {
    border-radius: 7px;
    border-width: 3px;
    border-top-color: black;
    border-left-color: black;
    border-bottom-color: var(--borderRed);
    border-right-color: var(--borderRed);
    background-color: var(--backgroundColor);
    font-weight: bold;
    cursor: pointer;
}

input:not([type="text"], [type="checkbox"], #team), textarea {
    width: 8em;
    height: 16px;
    font-family: Arial, sans-serif;
    font-size: smaller;
}

input[type="checkbox"] {
    transform: scale(1.35);
}

/* input[type="checkbox"]:not(:disabled) {} */

input[type="checkbox"]:disabled {
    border-color: var(--borderRed);
    background-color: var(--disabledBackground);
}

/* textarea {
    width: 70px;
    height: 24px;
    min-width: 90px;
    min-height: 24px;
    max-width: 220px;
    max-height: 145px;
} */

input[type="text"]:disabled {
    border-width: 3px;
    border-top-color: var(--disabledTopBorder);
    border-left-color: var(--disabledTopBorder);
    border-bottom-color: var(--disabledBottomBorder);
    border-right-color: var(--disabledBottomBorder);
    background-color: var(--disabledBackground);
}

select:not(#comp, #round, #teams) {
    width: 7em;
    font-size: 16px;
}

#comp, #round, #teams {
    width: auto;
    font-size: 16px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#scanner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlayColor);
    justify-content: center;
    align-items: center;
}

/* button {
    height: 24px;
} */

#cameraStream {
    width: 80%;
    max-width: 600px;
    height: auto;
    border: 2px solid white;
    border-radius: 8px;
}

#close-scanner {
    height: 60px;
    font-size: larger;
    background-color: var(--secondaryBackground);
}

#qrcode-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlayColor);
    justify-content: center;
    align-items: center;
}

#close-qrcode {
    height: 60px;
    font-size: larger;
    background-color: var(--secondaryBackground);
}

.score {
    margin-bottom: 6px;
    margin-left: 15px;
    text-align: left;
}

.score label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.score:not(.indented) label {
    width: 150px;
}

.score input[type="checkbox"] {
    transform: scale(1.2);
    margin-left: 0px;
}

.score input[type="text"] {
    width: 160px;
}

.indented label {
    margin-left: 45px;
    width: 1330;
}

.double-indented {
    margin-left: 80px;
}

.collapsible:after {
    content: '\02795';
    font-size: 25px;
    color: var(--MinutebotsColor);
    float: right;
}

.active:after {
    content: "\2796";
}

.collapsible {
    background-color: var(--lightGrey);
    color: var(--MinutebotsColor);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}

.collapsible.active {
    margin-bottom: 0px;
    display: block;
}

.collapsible:not(.active) {
    margin-bottom: 15px;
}

.collapsible:hover {
    background-color: var(--darkGrey);
}

.content {
    margin-top: -3px;
    background-color: var(--lightGrey);
    margin-bottom: 15px;
    display: none;
    float: left;
    min-width: 100vw;
    padding: 18px;
}
