#console-container {
    display: none;
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    background-color: #f4f4f4;
    border-top: 1px solid #cccccc;
    overflow: auto;
}

#console-input {
    width: calc(100% - 20px);
    outline: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #cccccc;
}

#console-output {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
